body{
    background-color: whitesmoke;
    color: black;
    margin-left: 8rem;
    
}


    .card{
        margin-left: 1rem;
        margin-top: 1rem;
      }

      .all-cards{
        display: flex;
        flex-wrap: wrap;
      }


      #hindi{
            position: relative;
            left: 6rem;
            font-size: 1rem;
            bottom: 4.1rem;
            color: gray;
          }
      


      #Card-status{
        position: relative;
        left: 6rem;
        font-size: 1.3rem;
        bottom: 3.3rem;
        font-weight: bold;
      }

      #card-statuse{
        position: relative;
        left: 1rem;
        bottom: 15px;
        font-size: 1.2rem;
        font-weight: bold;
      }


      .Card-Image{
          width: 420px;
          height: 300px;
          border-radius: 20px;
          margin-left: 1.4rem;
      }

      #card-image2{
        width: 50px;
        height: 40px;
        border-radius: 50%;
    }

    .Card-heading{
        display: flex;
        margin-left: 2rem;
        margin-top: 15px;
    }

    .Card-figures{
        display: flex;
        position: relative;
        left: 2.2rem;
        font-size: 1rem;
        bottom: 2.8rem;
        padding-left: 12px;
        color: gray;
    }

    #rates{
      position: relative;
      left: 5rem;
      bottom: 3.9rem;
      color:blueviolet;;
    }


    .CardPage-image{
          width: 310px;
          height: 350px;
        border-radius: 20px;
        margin-left: 1.4rem;
    }